// Colors
$primary: #30343d;

$light-gray: #cbd8f3;
$light-blue: #a3bcf1;
$dark-blue: #30343d;
$navy-box-shadow: rgba(131, 100, 238, 0.15);

$body-bg: #a8a4a4;
$body-color: $light-blue;
$input-color: $light-blue;
$input-placeholder-color: $light-blue;

$alt-danger: #e21811 !default;

// Fonts
$font-family-sans-serif: Montserrat, "Open Sans", Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-weight: 700;
